<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
	<head>
	<title>Home Page</title>
	<script>
	$( document ).ready(function() {
	   //$("#uploadLI").addClass("active");
	  // $("#adminLI").addClass("active");
	});
	</script>
	</head>

	<body>
	<div layout:fragment="header" align="center">
	<br/>
		<h4>ERROR!!!!</h4><br/>
		<h6>Please Provide proper request</h6>
		
	
	</div>
	

	</body>
</html>